.about {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
}

.about_container {
   width: 800px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   flex-direction: column;
}

.sobre_item{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.about_container h1 {
   margin: 10px;
}

.mission_container {
   width: 1300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.mission_item {
   width: 400px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

/* responsivo */

@media (max-width: 1320px) {



   .about_container {
      width: 900px;

   }

   .mission_container {
      width: 900px;
   }

   .mission_item {
      width: 250px;
   }

}


@media (max-width: 920px) {

   .about_container {
      width: 600px;

   }

   .mission_container {
      width: 600px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }

   .mission_item {
      width: 500px;
   }

}

@media (max-width: 620px) {

   .about {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      padding-top: 100px;
   }

   .about_container {
      width: 100%;
   }

   .sobre_item {
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
   

   .mission_container {
      width: 100%;
      
   }

   .mission_item {
      width: 100%;
   }

}